.icono-nav {
    width: 2rem;
}

.navbar-light.bg-light {
    background-color: var(--bg-secundario) !important;
}

.bg-light,
.nav-link,
.fa-bars,
.navbar-brand {
    color: var(--color-secundario) !important;
}

.nav-link.active {
    color: var(--color-primario) !important;
}

@media screen and (max-width: 994px) {
    .nav-link {
        margin-left: 2.5rem;
    }
}