<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container d-flex align-items-center">
        <a class="navbar-brand d-flex align-items-center" routerLink="/">
            <img src="./assets/images/globe.png" alt="astronaut" class="icono-nav me-2"> Areonaves
        </a>
        <button class="navbar-toggler border-0 p-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" *ngIf="_usuario.usuario.role === 'admin'">
                    <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="dashboard">Dashboard</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="areonaves">Areonaves</a>
                </li>
            </ul>
            <a class="nav-link px-0 pointer" aria-current="page" (click)="_usuario.salir()">Salir</a>

        </div>

    </div>
</nav>