.contenedor-login {
    align-items: center;
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: var(--bg-primario);
}

.contenedor-columnas {
    background-color: var(--bg-secundario);
    color: var(--color-secundario);
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 2px 2px 5px var(--color-shadow);
}

.plane-login {
    max-width: 100px;
    width: 100%;
}