.darkmode {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 3rem;
    height: 3rem;
    background: var(--bg-secundario);
    bottom: 2rem;
    right: 2rem;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 0 5px 2px var(--color-border);
}

.checkbox {
    width: .1px;
    opacity: 0;
}

.rotate {
    transition: transform 1s ease-out;
    transform: rotate(360deg);
}

.darkmode-icono {
    font-size: 2rem;
    color: var(--color-primario);
}