.indicador {
    padding: .5rem;
    background: blue;
    border-radius: .3rem;
}

.indicador-icono i {
    font-size: 4rem;
}

.indicador-texto-h4,
.indicador-texto-p {
    font-size: 1.5rem;
    margin: 0;
}

.indicador-total {
    background-color: var(--color-primario);
    color: #fff;
}

.indicador-libre {
    background-color: var(--color-libre);
    color: #fff;
}