/* You can add global styles to this file, and also import other style files */

@import '~ngx-toastr/toastr.css';
:root {
    --bg-primario: #dfdfdf;
    --bg-secundario: #fff;
    --bg-select: transparent;
    --color-primario: #4f37e9;
    --color-primario-5: #4f37e9e7;
    --color-secundario: #0a0a0a;
    --color-border: rgba(0, 0, 0, .1);
    --color-primario-texto: #000;
    --color-shadow: rgba(0, 0, 0, 0.1);
    --color-critical: #ff3838;
    --color-critical-5: #ff3838e5;
    --color-libre: #1a82a5;
    --color-libre-5: #1a82a5da;
    --color-date-picker: 0;
}

[data-theme="dark"] {
    --bg-primario: #000;
    --bg-secundario: #191C24;
    --bg-select: #191C24;
    --bg-input: transparent;
    --color-input: #fff;
    --color-secundario: #fff;
    --color-border: rgba(255, 255, 255, .1);
    --color-date-picker: 1;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    transition: background 1s linear;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
button:focus,
button:hover,
button:active,
select,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus {
    /*box-shadow: 0 0 5px 1px var(--color-primario-5);*/
    box-shadow: none !important;
    outline: none !important;
}

@media (max-width: 980px) {
    .table thead {
        display: none;
    }
    .table,
    .table tbody,
    .table tr,
    .table td {
        display: block;
        width: 100%;
    }
    .table tr {
        margin-bottom: 15px;
    }
    .table td {
        text-align: left;
        position: relative;
        border-bottom: 1px solid var(--color-border);
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: .5rem .5rem;
        gap: .5rem;
    }
    .table td::before {
        content: attr(data-label);
        font-weight: bold;
        border-right: 1px solid var(--color-border);
    }
}

.pointer {
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: var(--color-primario);
}

.link:hover {
    color: var(--color-primario-5);
}


/*CAMBIANDO LOS ESTILOS DE BOOTSTRAP*/

.btn.btn-primary {
    background-color: var(--color-primario);
    border-color: var(--color-primario);
    color: #fff;
}

.btn.btn-primary:hover {
    background-color: var(--color-primario-5);
    border-color: var(--color-primario);
}

.btn.btn-danger {
    background-color: var(--color-critical);
    border-color: var(--color-critical);
    color: #fff;
}

.btn.btn-danger:hover {
    background-color: var(--color-critical-5);
    border-color: var(--color-critical-5);
}

.btn.btn-warning {
    background-color: var(--color-libre);
    border-color: var(--color-libre);
    color: #fff;
}

.btn.btn-warning:hover {
    background-color: var(--color-libre-5);
    border-color: var(--color-libre);
}

.card {
    border: none;
    box-shadow: 0px 0px 5px 1px var(--color-border);
}

.card,
.modal-content {
    background-color: var(--bg-secundario);
    color: var(--color-secundario);
}

.modal-header {
    border-color: var(--color-border);
}

.form-control,
.form-select {
    background-color: var(--bg-input);
    color: var(--color-input);
    border-color: var(--color-border);
}

.form-control:focus {
    background-color: var(--bg-input);
    color: var(--color-input);
    border-color: var(--color-primario);
}

.form-select:focus {
    background-color: var(--bg-select);
    color: var(--color-input);
    border-color: var(--color-primario);
}


/**  EDITAR TABLE GLOBAL     **/

table {
    box-shadow: 0px 0px 5px 1px var(--color-border);
}

table td,
table tr {
    color: var(--color-secundario);
    border: 1px solid var(--color-border);
}

input[type=date]::-webkit-calendar-picker-indicator {
    filter: invert(var(--color-date-picker));
}